<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- Avoid AOT compilation if we're in development mode to speed up launches -->
    <application android:vmSafeMode="true">
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}"
                tools:replace="android:authorities"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>